
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Upload de Arquivo de Carga</h4>

            <div class="container row">
                <div class="col-md-6">
                    <input type="file" (change)="onFileChanged($event)">
                </div>
                <div class="col-md-6">
                    <input type="button" (click)="onUpload()" value="upload">
                </div>
            </div>
            <hr />
            <div class="container row">
                <div class="col-md-12">
                    <div *ngIf=message>{{message}}</div>
                </div>
            </div>

        </div>
    </div>
</div>

