<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-faded">
  <div class="container">
    <div class="navbar-brand">
      <span class="fa fa-shield" ></span>
      
      Teste
    </div>
    <button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-label="Toggle navigation" [attr.aria-expanded]="!isNavbarCollapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">
            <span class="fa fa-home"></span>
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresa/upload']">
            <span class="fa fa-home"></span>
            Carregar Arquivo
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-md-12 main">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template ngbModalContainer></ng-template>
